// colors
// Primery
$primery-1:#03a9f4;
$primery-2:#f75e2e;
$primery-3:#ecfa4d;
$primery-4:#656a70;

// ligten 1 level
$pr1-light-1:mix(#fff, $primery-1,30%);
$pr2-light-1:mix(#fff, $primery-2,30%);
$pr3-light-1:mix(#fff, $primery-3,30%);
$pr4-light-1:mix(#fff, $primery-4,30%);
// ligten 2 level
$pr1-light-2:mix(#fff, $primery-1,60%);
$pr2-light-2:mix(#fff, $primery-2,60%);
$pr3-light-2:mix(#fff, $primery-3,60%);
$pr4-light-2:mix(#fff, $primery-4,60%);
// ligten 3 level
$pr1-light-3:mix(#fff, $primery-1,85%);
$pr2-light-3:mix(#fff, $primery-2,85%);
$pr3-light-3:mix(#fff, $primery-3,85%);
$pr4-light-3:mix(#fff, $primery-4,85%);
//darcken 1 level
$pr1-dark-1:mix(#000, $primery-1,30%);
$pr2-dark-1:mix(#000, $primery-2,30%);
$pr3-dark-1:mix(#000, $primery-3,30%);
$pr4-dark-1:mix(#000, $primery-4,30%);
//darcken 2 level
$pr1-dark-2:mix(#000, $primery-1,50%);
$pr2-dark-2:mix(#000, $primery-2,50%);
$pr3-dark-2:mix(#000, $primery-3,50%);
$pr4-dark-2:mix(#000, $primery-4,50%);
//darcken 3 level
$pr1-dark-3:mix(#000, $primery-1,75%);
$pr2-dark-3:mix(#000, $primery-2,70%);
$pr3-dark-3:mix(#000, $primery-3,70%);
$pr4-dark-3:mix(#000, $primery-4,70%);
//fonts
$font-medium:'Poppins-Medium';
$font-regular :'Poppins-Regular';
$font-bold:'Poppins-Bold';
$font-semibold:'Poppins-SemiBold';
// $font-:'Poppins-Light';
// $font-:'Poppins';
// $font-:'Museo-Sans-500';
// $font-:'Open-Sans-Italic';
// $font-:'Open-Sans-Light-Italic';
// $font-:'Open-Sans-Extrabold';
// $font-:'Open-Sans-Semibold';
// $font-:'Open-Sans';
// $font-:'Open-Sans-BoldItalic';
// $font-:'Open-Sans-ExtraboldItalic';
// $font-:'Open-Sans-Light';
// $font-:'Open-Sans-Bold';